<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!-- <link rel="stylesheet" href="/stylesheets/normalize.css"> -->
  <!-- <link rel="stylesheet" href="/stylesheets/bootstrap.css"> -->
  <!--
    application.css is where you put your styles
  -->

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

  <title></title>
</head>
<body>
<div class="contrainer">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Music Wall</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/songs">All Songs</a></li>
        <li><a href="/songs/new">Post a Song</a></li>
        <% if !current_user.nil? %>
          <li><a href="/songs/mysongs"><strong>Hi, <%= current_user.username %></strong></a></li>
          <li><a href="/users/logout">Logout</a></li>
        <% else %>  
          <li><a href="/users/new">Create New User</a></li>
          <li><a href="/users/login">Sign In</a></li>
        <% end %>
      </ul>
    </div>
  </nav>


 
  <%= yield %>
</body>
</html>







